<html>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
  <div class="header">
    <h1 id="heading">Invoice Parser</h1>
    <h3 id="tagline"> Parse invoices using object detection methods</h3>
  </div>
  <body >
    <div class = "page">
      <form id="form" action="" method="post" novalidate enctype='multipart/form-data'>
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <div class="upload-btn-wrapper">
          <button class="btn">Upload invoice</button>
          {{form.invoice_file}}
      </div>
      <!--{% for subfield in form.algorithm %}
          <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
          </tr>
      {% endfor %}-->
      </p>
      <p>
        <div class="algorithms" style="width:200px;">
        <select class ="custom-select" name= algos method="GET" action="/">
            {% for algo in algos %}
            <option value= "{{algo}}" SELECTED>{{algo}}</option>"
            {% endfor %}
        </select>
        </div>
      </p>
      <div class="submit">
      <p >{{ form.submit(class = "button") }}</p>
      </div>
    </form>
    </div>
  </body>
  

</html>
