<html>
  <head>
    <h1>Invoice parsing API</h1>
  </head>
  <body>
    <form action="" method="post" novalidate enctype='multipart/form-data'>
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <p>Upload your invoice: 
        {{form.invoice_file}}
      </p>
      <p>Choose your algorithm: <br>
      {% for subfield in form.algorithm %}
          <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
          </tr>
      {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  </body>

</html>
